*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.num{
    margin-top: 280px;
    padding: 50px;
    font-size: 40px;
    color: white;
    text-align: center;
}
button{
    width: 80px;
    height: 30px;
    opacity:0.6 ;
    font-size: 20px;
    border: none;
    border-radius: 5px;

}

button:first-of-type:hover{
border: 1px solid red;
color: red;
opacity: 1;
}
button:last-of-type:hover{
    border: 1px solid rgb(12, 136, 59);
    color: rgb(12, 136, 59);
    opacity: 1;
    }
button:nth-child(3):hover{
    border: 1px solid darkgrey;
    color: darkgray;
    opacity: 1;
}

